<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>HomePage</title>
    <style>
        td {
            font-family: Vazir;
        }

        body {
            background-color: grey;
        }
    </style>
</head>
<body>
<nav style="border-bottom-left-radius: 20px;border-bottom-right-radius: 20px" class="navbar navbar-light bg-light container">
  <a class="navbar-brand" href="/api">API</a>
</nav>
<div class="container">
    <table
        style="text-align: right;direction: rtl;margin-top: 10px;margin-bottom: 10px;background-color: white;border: darkgrey solid 1px;border-radius: 20px"
        class="table">
    <thead>
    <tr>
        <th scope="col">عنوان</th>
        <th scope="col">قیمت</th>
    </tr>
    </thead>
    <tbody>
    {% for item in prices %}
            <tr >
                <td class="col-md-5 col-sm-5 col-xs-5">{{ item.title }}</td>
                <td class="col-md-5 col-sm-5 col-xs-5">{{ item.price }} ریال</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
